<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>

<table border="0" cellpadding="15" cellspacing="15"
       style="width:100%;table-layout:fixed;border-collapse: separate;border-spacing: 10px;">
    <tr>
        <td style="width:60px;">规则描述</td>
        <td style="width:50%">
            <input name="name" class="mini-textbox" style="width:100%;" th:value="${rule.getDesc()}"/>
        </td>
        <td style="width:60px;">规则版本</td>
        <td style="width:50%">
            <input name="addr" class="mini-textbox" style="width:100%;" th:value="${rule.getVersion()}"/>
        </td>
    </tr>
    <tr>
        <td>规则脚本</td>
        <td colspan="3">
            <textarea name="remarks" class="mini-textarea" style="width:100%;height:400px;"
                      th:text="${rule.getRule()}"> </textarea>
        </td>
    </tr>
    <tr>
        <td style="width:60px;">IN_DBDriver</td>
        <td style="width:50%">
            <input name="name" class="mini-textbox" style="width:100%;"
                   th:value="${rule.getInputDataDBInfo().getDriverName()}"/>
        </td>
        <td style="width:60px;">IN_URL</td>
        <td style="width:50%">
            <input name="addr" class="mini-textbox" style="width:100%;"
                   th:value="${rule.getInputDataDBInfo().getDbURL()}"/>
        </td>
    </tr>
    <tr>
        <td style="width:60px;">IN_name</td>
        <td style="width:50%">
            <input name="name" class="mini-textbox" style="width:100%;"
                   th:value="${rule.getInputDataDBInfo().getUserName()}"/>
        </td>
        <td style="width:60px;">IN_password</td>
        <td style="width:50%">
            <input name="addr" class="mini-textbox" style="width:100%;"
                   th:value="${rule.getInputDataDBInfo().getUserPwd()}"/>
        </td>
    </tr>
    <tr>
        <td>IN_SQL</td>
        <td colspan="3">
            <textarea name="remarks" class="mini-textarea" style="width:100%;height:60px;"
                      th:text="${rule.getInputDataDBInfo().getSql()}"> </textarea>
        </td>
    </tr>

    <tr>
        <td style="width:60px;">OUT_DBDriver</td>
        <td style="width:50%">
            <input name="name" class="mini-textbox" style="width:100%;"
                   th:value="${rule.getOutputDataDBInfo().getDriverName()}"/>
        </td>
        <td style="width:60px;">OUT_URL</td>
        <td style="width:50%">
            <input name="addr" class="mini-textbox" style="width:100%;"
                   th:value="${rule.getOutputDataDBInfo().getDbURL()}"/>
        </td>
    </tr>
    <tr>
        <td style="width:60px;">OUT_name</td>
        <td style="width:50%">
            <input name="name" class="mini-textbox" style="width:100%;"
                   th:value="${rule.getOutputDataDBInfo().getUserName()}"/>
        </td>
        <td style="width:60px;">OUT_password</td>
        <td style="width:50%">
            <input name="addr" class="mini-textbox" style="width:100%;"
                   th:value="${rule.getOutputDataDBInfo().getUserPwd()}"/>
        </td>
    </tr>
    <tr>
        <td>OUT_SQL</td>
        <td colspan="3">
            <textarea name="remarks" class="mini-textarea" style="width:100%;height:60px;"
                      th:text="${rule.getOutputDataDBInfo().getSql()}"> </textarea>
        </td>
    </tr>
</table>

<a th:href="@{'/execute/'+${rule.id}}">执行该规则</a>

</body>
</html>
